<div class="col-md-12">
  <div class="col-md-6  text-center col-lg">
    <img class="profile-img" src="../../../assets/user-profile.jpg" />
  </div>

  <div class="col-md-6 text-center col-lg profile-info">
    <h3>USERNAME: <span>PAKO</span></h3>
    <p class="infoType">ORGANIZER of 2 EVENTS.</p>
    <ul class="list-group">
      <li class="list-group-item">LED ZEPPELIN Convert</li>
      <li class="list-group-item">Techno Party</li>
    </ul>
    <p class="infoType" >NO ORGANIZED EVENTS</p>
  </div>
</div>
